body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #854442;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #F3E2D9;
}

.section-title {
    font-family: Pacifico, cursive;
}


#sobre-o-restaurante, #cardapio {
    background-color: #F3E2D9;
}

.text-colored {
    color: #854442;
    
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #854442;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color:#CB3333
}

.social-links li {
    list-style: none;
    display: inline;
   
}
.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}






